<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsU1D9WhH4ormOygx1A3tVIbykubCTHr0</string>
	<key>GCM_SENDER_ID</key>
	<string>553880054667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.swcore.r15addressbook</string>
	<key>PROJECT_ID</key>
	<string>r15addr</string>
	<key>STORAGE_BUCKET</key>
	<string>r15addr.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553880054667:ios:55b45ae4b150b32ffddd8e</string>
</dict>
</plist>